{% extends 'base.html' %}

{% block content %}






<br/>

{% if api  %}
    {% if api == "Error..." %}
        there was an error,please try again...
    {% else%} 

    <div class="jumbotron {{ category_color }}">
      <h1 class="display-4">{{ api.0.Category.Name }} </h1>
      <p class="lead"> Current {{ api.0.ReportingArea }} AIR QUALITY: {{ api.0.AQI }}</p>

     <p> {{ category_description}}<p>

      
      
      
    </div>

       
        Category: 
    {% endif %}    


{% endif %}





{% endblock %}


